{% block subject %}Welcome, {{ name }}!{% endblock %}
{% block layout %}bootstrap{% endblock %}
{% block content %}
<p>Hello {{ name }},</p>
<p>Thank you for signing up for Callisto Mailer!</p>
{% endblock %}
